/* responsive resolution
576px
768px
992px
1200px */


.container , .jumbo-container{
    max-width: 1200px;
    margin: 0 auto;;
    flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
    .container{
        width: 975px;
    }
}

@media screen and (max-width: 768px) {
    .container{
        width: 554px;
    }

    .col ul{
        display: none;
    }

    .col img{
        height: 40px;
        margin-top: 15px;
        margin-right: 250px;
    }

    .col .fa-bars{
        display: block;
        margin-top: 17px;
        margin-left: 320px;
    }
}

@media screen and (max-width: 576px) {
    .container{
        width: 100%;
    }

    .col ul{
        display: none;
    }

    .col img{
        height: 40px;
        margin-top: 15px;
        margin-right: 170px;
    }

    .col .fa-bars{
        display: block;
        margin-top: 17px;
        margin-left: 240px;
    }

    .jumbo-container{
        display: block;
    }

    .col-jumbo , .col-jumbo-special{
        margin-right: 0;
        margin: 20px 130px;
    }
    
    .col-jumbo-special{
        height: 505px;
    }
}