/* responsive resolution
576px
768px
992px
1200px */


.container , .jumbo-container , .planning-container , .partners-container , .benefits-container , .about-container , .download-container , .banner-container{
    max-width: 1200px;
    margin: 0 auto;;
    flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
    .container{
        width: 975px;
    }
}

@media screen and (max-width: 768px) {
    .container{
        width: 530px;
    }

    .col ul{
        display: none;
    }

    .col img{
        height: 40px;
        margin-top: 15px;
        margin-right: 250px;
    }

    .col .fa-bars{
        display: block;
        margin-top: 17px;
        margin-left: 320px;
    }

    .planning-container{
        display: block;
    }

    .col-extra{
        margin: 10px 30px;
    }

    .col-work{
        flex-basis: calc(100% / 2 - 30px);
        margin: 10px 10px;

    }

    .left{
        flex-basis: 51%;
    }

    .right{
        flex-basis: 33%;
    }

    .col-download{
        margin: 0 30px;
    }

    .col-bar{
        margin: 10px 75px;
    }
}

@media screen and (max-width: 576px) {
    .container{
        width: 100%;
    }

    .col ul{
        display: none;
    }

    .col img{
        height: 40px;
        margin-top: 15px;
        margin-right: 170px;
    }

    .col .fa-bars{
        display: block;
        margin-top: 17px;
        margin-left: 240px;
    }

    .jumbo-container{
        display: block;
    }

    .col-jumbo , .col-jumbo-special{
        margin-right: 0;
        margin: 20px 130px;
    }
    
    .col-jumbo-special{
        height: 505px;
    }

    .planning-container{
        display: block;
    }

    .col-plan{
        margin: 0 125px;
    }

    .col-extra{
        height: 340px;
        margin: 10px 125px;
    }

    .col-work{
        flex-basis: 100%;
        margin: 10px 125px;
    }

    .left{
        flex-basis: 50%;
    }

    .right{
        flex-basis: 50%;
    }

    .col-download{
        margin: 0 30px;
    }

    .col-bar{
        margin: 10px 85px;
    }
}